name: CI

on:
  push:
  pull_request:

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - uses: abatilo/actions-poetry@v3
        with:
          poetry-version: "1.8.3"
      - name: Install dependencies
        run: poetry install
      - name: Ruff
        run: poetry run ruff check .
      - name: Black
        run: poetry run black --check .
      - name: Mypy
        run: poetry run mypy src
      - name: Pytest
        run: poetry run pytest
